@charset "UTF-8";
/* CSS Document */

 
  #A{   
	
	background-color: #c2f670;
 	width: 200px;
 	height: 200px;
	outline-style: double;
  }
  
  #B{  
	background-color: #c2f670;
 	width: 200px;
 	height: 200px;
	box-shadow: 10px 10px 5px #888888;/* not sure if this was what it was supose to be*/
	  
  }
  #C{  
	  
    background-color: #c2f670;
 	width: 200px;
 	height: 200px;
	padding-top: 2em;
	padding-left: 2em;
	padding-right: 2em;
	padding-bottom:2em;
  }
  #D{  
	  background-color: #c2f670;
 	  width: 200px;
      height: 200px;
	
	
	padding-top: 2em;
	padding-left: 2em;
	padding-right: 2em;
	padding-bottom:2em;
	
	border-bottom:red 4px solid;
	border-right:red 4px solid;
	border-top:red 4px solid;
	border-left:red 4px  solid;
  }
  #E{ 
	background-color: #c2f670;
 	width: 200px;
 	height: 200px;
	
	
	border-bottom:red 4px solid;
	border-right:red 4px solid;
	border-top:red 4px solid;
	border-left:red 4px  solid;
	
    margin-top:2em;
	margin-left:2em;
	margin-right:2em;
	margin-bottom:2em;
  }
  #F{  
	background-color: #c2f670;
 	width: 200px;
 	height: 200px;
	
	
	border-bottom:black 4px dotted;
	border-right:black 4px dotted;
	border-top:black 4px dotted;
	border-left:black 4px  dotted;
	
    margin-top:1em;
	margin-left:6em;
	margin-right:1em;
	margin-bottom:6em;
	
	padding-top: 1em;
	padding-left: 6em;
	padding-right: 1em;
	padding-bottom:1em;
	  
  }
  #G{ 
	background-color: #c2f670;
 	width: 200px;
 	height: 200px;
	overflow:scroll;
	
	border-bottom:blue 2px solid;
	border-right:blue 2px solid;
	border-top:blue 2px solid;
	border-left:blue 2px  solid;
	
   
	
	padding-top: 1em;
	padding-left: 50px;
	padding-right: 50px;
	padding-bottom:1em;
  }